In [6]:
Q.2 n=5;
for i in range(i,n+1):
  for j in range(i):
    print('*',end='')
  print()

*
**
***
****
*****

In [7]:
# hologram pattern

In [10]:
n=5 # number of rows
for i in range(1,n+1):   #outer loop for rows
  for j in range(i):    #inner loop for printing pattern
    if j==0 or j==i-1 or i==1 or i==n:
      print('*',end='')   #print'*' at first, last position
    else:
      print(' ',end='') #print space for middle space
  print()           #move to the next line after inner loop

*
**
* *
*  *
*****

In [11]:
# pyramid pattern

In [13]:
n=5        #number of rows
for i in range(1,n+1):    #outer loop for rows
  for j in range(n-i):     #Inner loop for rows
    print(' ',end='')      #print space
  for k in range(2*i-1):   #inner loop for stars
    print('*',end='')       #print star
  print()                 #move to the next line after inner loop

    *
   ***
  *****
 *******
*********

In [15]:
# inverted pyramid patterns(descending order)

In [ ]:
# n=5
# for i in range(n,0,-1):
#   for j in range(n-1):
#     print(' 'end='')
#   for k in range(2*i-1):

In [17]:
10//2

5