In [2]:
# List in Python
# (1)Indentation:[]
# (2) List is a collection of itmes in which we can store different elements.
# (3) Indexing start from 0 and length start from 1
# (4) Mutable data type ------> We can change or update the values at a run time
# (5) Elements are separated by commas

In [3]:
a=['sam','raj',45,34.89]

In [5]:
type(a)

list

In [15]:
# indexing and slicing
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[2:5])
print(a[1:4])
print(a[3:])
print(a[:3])
print(a[:])

sam
raj
45
34.89
[45, 34.89]
['raj', 45, 34.89]
[34.89]
['sam', 'raj', 45]
['sam', 'raj', 45, 34.89]

In [18]:
# Mutability
a=['sam','raj',45,34.89]
print(a)
a[1]='Garima'
print(a)
a[3]=45.912
print(a)

['sam', 'raj', 45, 34.89]
['sam', 'Garima', 45, 34.89]
['sam', 'Garima', 45, 45.912]

In [20]:
a=['sam','raj',45,34.89,12,67]
if 'Rahul' in a:
  print("yes")
else:
  print("no")

no

In [21]:
a=['sam','raj',45,34.89,12,67]
for i in a:
  print(i,end=" ")

sam raj 45 34.89 12 67

In [22]:
len(a)

6

In [23]:
for i in range(len(a)):
  print(a[i])

sam
raj
45
34.89
12
67

In [24]:
# List Properties

In [25]:
# (1). Concatenation
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [27]:
# (2). Replication
a=[1,2,3]
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
# Functions in python

In [29]:
# (1). Len()------> It will return length of a list.
a=[1,67,90]
len(a)

3

In [30]:
# (2). Index()-----> It will return indexing of an element that present in a list.
a=['sam',12,56]
a.index(56)

2

In [31]:
# (3). Append()------->  This method will add ellement in the last indexing of a list
a=['sam','purvi',56]
print(a)
a.append('raj')
print(a)

['sam', 'purvi', 56]
['sam', 'purvi', 56, 'raj']

In [32]:
# (4). insert (index,object)-----> This method will add element in the given indexing
a=['sam''raj','rahul']
print(a)
a.insert(1,'purvi')
print(a)

['samraj', 'rahul']
['samraj', 'purvi', 'rahul']

In [34]:
# (5).  min()-------> It will return minimum value a list.
a=[1,2,3]
print(min(a))

1

In [35]:
# (6).  max()-------->It will return maximum value of a list.
a=[1,2,3]
print(max(a))

3

In [36]:
# (7).  Sort()---------> It will return a list in which elements are arranged un ascending order.
a=[1,7,3,2,5,4]
print(a)
a.sort()
print(a)

[1, 7, 3, 2, 5, 4]
[1, 2, 3, 4, 5, 7]

In [37]:
# (8).  Reverse()------> It will return a list in which elements position will be reverse.
a=[1,2,3,4]
a.reverse()
print(a)

[4, 3, 2, 1]

In [41]:
# (9).  Pop()----> It will delete element from last indexing.
a=[1,2,3,4]
a.pop()
print(a)
a.pop()
print(a)

[1, 2, 3]
[1, 2]

In [42]:
# (10).  Remove()--------> It will delete element in a list.
a=['sam','gorav','aniket',44,67]
print(a)
a.remove('sam')
print(a)
a.remove('aniket')
print(a)

['sam', 'gorav', 'aniket', 44, 67]
['gorav', 'aniket', 44, 67]
['gorav', 44, 67]