# Machine learning

In [2]:
# # Data-----------> Independent(X) , Dependent(y)
# x-------------> x_train , x_test

# y-------------> y_train , y_test

# In training--> We will trained our model from input to target data relation.
# In testing---> We will check our model that our model is perfectly working or not

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("C:\\Users\\deves\\Desktop\\pandas\\placement.csv")

In [5]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [6]:
df.shape

(100, 3)

In [7]:
x=df.drop(columns=['placed'])  ## Input data
y=df['placed']     ## Target data

In [8]:
# !pip install scikit-learn

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
print("Total shape:",df.shape)
print("---------------------")
print("---------------------")
print("Input data shape:",x.shape)
print("Input data shape:",x_train.shape)
print("Input data shape:",x_test.shape)
print("---------------------")
print("---------------------")
print("Target data shape:",y.shape)
print("Target data shape:",y_train.shape)
print("Target data shape:",y_test.shape)

Total shape: (100, 3)
---------------------
---------------------
Input data shape: (100, 2)
Input data shape: (80, 2)
Input data shape: (20, 2)
---------------------
---------------------
Target data shape: (100,)
Target data shape: (80,)
Target data shape: (20,)

In [12]:
# df(100,3)=x(100,2)+y(100,1)
# x(100,2)=x_train(80,2)+x_test(20,2)
# y(100,1)=y_train(80,1)+x_test(20.1)

In [13]:
x_train, x_test , y_train , y_test

(    cgpa  resume_score
 55  6.94          6.87
 88  8.07          6.07
 26  6.27          6.47
 42  6.90          6.91
 69  8.06          9.06
 ..   ...           ...
 60  5.87          6.64
 71  7.34          8.22
 14  7.51          6.25
 92  5.43          6.18
 51  6.54          7.39

 [80 rows x 2 columns],
     cgpa  resume_score
 83  7.60          8.08
 53  6.00          7.16
 70  7.12          7.41
 45  8.10          5.44
 44  5.47          5.92
 39  7.50          6.19
 22  6.16          5.77
 80  7.83          7.70
 10  6.18          6.35
 0   8.14          6.52
 18  5.94          5.88
 30  7.36          7.15
 73  5.76          6.48
 33  8.43          7.73
 90  5.85          5.56
 4   7.52          7.30
 76  9.40          5.50
 77  5.88          6.92
 12  6.09          7.01
 31  5.92          7.02,
 55    1
 88    1
 26    0
 42    1
 69    1
      ..
 60    0
 71    1
 14    1
 92    0
 51    0
 Name: placed, Length: 80, dtype: int64,
 83    1
 53    0
 70    1
 45    1
 44    0
 39    1
 22    0
 80    1
 10    0
 0     1
 18    0
 30    1
 73    0
 33    1
 90    0
 4     1
 76    1
 77    0
 12    0
 31    0
 Name: placed, dtype: int64)

# Covie data

In [15]:
df=pd.read_csv("C:\\Users\\deves\\Desktop\\pandas\\covid_toy.csv")

In [16]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [17]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [18]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [19]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [20]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [21]:
df['gender'] = df['gender'].map({"Female":0 , "Male":1})

In [22]:
df['cough'] = df['cough'].map({"Mild":0 , "Strong":1})

In [23]:
df.sample(4)

    age  gender  fever  cough       city has_covid
47   18       0  104.0      0  Bangalore        No
78   11       1  100.0      0  Bangalore       Yes
91   38       1    NaN      0      Delhi       Yes
65   69       0  102.0      0  Bangalore        No

In [24]:
x=df.drop(columns = ['has_covid'])
y=df['has_covid']

In [25]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [26]:
df['has_covid'] = df['has_covid'].map({"No":0 , "Yes":1})
df.sample(4)

    age  gender  fever  cough       city  has_covid
19   42       0    NaN      1  Bangalore          1
64   42       1  104.0      0     Mumbai          0
10   75       0    NaN      0      Delhi          0
89   46       1  103.0      1  Bangalore          0

In [27]:
df['city'] = df['city'].map({"Kolkata":0 , "Mumbai":1 , "Bangalore":2 , "Delhi":3})
df.sample(4)

    age  gender  fever  cough  city  has_covid
19   42       0    NaN      1     2          1
86   25       1  104.0      0     2          1
36   38       0  101.0      0     2          0
5    84       0    NaN      0     2          1

In [28]:
print("Total shape:",df.shape)
print("---------------------")
print("---------------------")
print("Input data shape:",x.shape)
print("Input data shape:",x_train.shape)
print("Input data shape:",x_test.shape)
print("---------------------")
print("---------------------")
print("Target data shape:",y.shape)
print("Target data shape:",y_train.shape)
print("Target data shape:",y_test.shape)

Total shape: (100, 6)
---------------------
---------------------
Input data shape: (100, 5)
Input data shape: (80, 5)
Input data shape: (20, 5)
---------------------
---------------------
Target data shape: (100,)
Target data shape: (80,)
Target data shape: (20,)

In [67]:
# df(100,6)=x(100,5)+y(100,1)
# x(100,5)=x_train(80,5)+x_test(20,5)
# y(100,1)=y_train(80,1)+x_test(20,1)

In [69]:
df=pd.read_csv("C:\\Users\\deves\\Desktop\\pandas\\covid_toy.csv")

In [71]:
df.head(1)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No

In [73]:
# df.isnull().sum()

In [75]:
# Using SimpleImputer() , we will missing data

# if data is :
# numerical-----> fill them
# categorical------> fill most_frequent_value

In [77]:
from sklearn.impute import SimpleImputer

In [79]:
si = SimpleImputer()

In [81]:
df['fever'] = si.fit_transform(df[['fever']])     ## fot means learn the parameters and transform mean apply on that data

In [83]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [85]:
df.shape

(100, 6)