In [185]:
# Data Devidation 

# df ---> x + y
# x ----> x_train , x_test 
# y ----> y_train , y_test

In [187]:
import numpy as np 
import pandas as pd

In [189]:
df = pd.read_csv('placement.csv')
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [191]:
x = df.drop(columns = ['placed'])    ### Input data 
# x

In [193]:
y = df['placed']    ### Target data 
# y

In [195]:
from sklearn.model_selection import train_test_split

In [197]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [199]:
np.round(x_train.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [201]:
x_train.describe()

            cgpa  resume_score
count  80.000000     80.000000
mean    6.949625      6.999500
std     1.125988      1.010789
min     5.270000      4.950000
25%     5.997500      6.280000
50%     6.620000      7.155000
75%     8.062500      7.692500
max     9.310000      9.060000

In [127]:
# Mean------> Average

# Normal Distrinution-----> Central tendancy(mean,median)------------> Keft and right side equal data points
# Standard deviation-------->Next value gap form central tendancy

In [203]:
from sklearn.preprocessing import StandardScaler

In [205]:
sc=  StandardScaler()

In [207]:
x_train_sc = sc.fit_transform(x_train) ## fit means learn the parameters and transform means apply on that data

In [209]:
np.round(x_train_sc.describe() , 2)

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [211]:
type(x_train_sc)

numpy.ndarray

In [213]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)  
type(x_train_new)

pandas.core.frame.DataFrame

In [215]:
np.round(x_train_new.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

# Data2

In [217]:
df = pd.read_csv("covid_toy.csv")

In [219]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [221]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [223]:
from sklearn.impute import SimpleImputer   ### it is used for filling missing data

In [225]:
si = SimpleImputer()

In [227]:
df['fever'] = si.fit_transform(df[['fever']])

In [229]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [231]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [233]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [235]:
df['gender'] = df['gender'].map({"Male":0 , "Female":1})
df['cough'] = df['cough'].map({"Mild":0 , "Strong":1}) 
df['city'] = df['city'].map({"Kolkata":0 , "Bangalore":1 , "Delhi":2 , "Mumbai":3}) 
df['has_covid'] = df['has_covid'].map({'Yes':0 , 'No':1})

In [237]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          1
1   27       0  100.0      0     2          0
2   42       0  101.0      0     2          1

In [247]:
x = df.drop(columns = ['has_covid'])  ## Input data 
y = df['has_covid']   ### Target data

In [249]:
from sklearn.model_selection import train_test_split

In [251]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state = 42)

In [253]:
np.round(x_train.describe() , 2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.59  100.98   0.40   1.26
std    24.47    0.50    1.93   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    1.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [257]:
from sklearn.preprocessing import StandardScaler

In [259]:
sc = StandardScaler()

In [261]:
x_train_sc = sc.fit_transform(x_train)

In [263]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [265]:
np.round(x_train_new.describe(), 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00   -0.00  -0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -1.19  -1.56  -0.82  -1.19
25%    -0.94   -1.19  -0.51  -0.82  -1.19
50%    -0.04    0.84   0.01  -0.82  -0.25
75%     0.91    0.84   0.53   1.22   0.70
max     1.69    0.84   1.57   1.22   1.64

# Normalization
#### min_value = 0 , max_value = 1

In [267]:
# play store--->app----->downloads 2.3m , app------> download 23k , app-------->400

In [299]:
df = pd.read_csv("placement.csv")
df.head(1)

   cgpa  resume_score  placed
0  8.14          6.52       1

In [301]:
x = df.drop(columns = ['placed'])
y = df['placed']

In [273]:
x_train , x_test , y_train  , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [303]:
np.round(x_train.describe() , 2) 
# np.round(x_train.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [305]:
from sklearn.preprocessing import MinMaxScaler

In [307]:
mn = MinMaxScaler()

In [309]:
x_train_mn = mn.fit_transform(x_train)

In [311]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [313]:
np.round(x_train_new.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean    0.42          0.50
std     0.28          0.25
min     0.00          0.00
25%     0.18          0.32
50%     0.33          0.54
75%     0.69          0.67
max     1.00          1.00