In [247]:
# Encoding-----------> Using this method, we can convert our categorical data into numerical data.

# (1). LabelEncoding---------->  Transform categorical data into numerical data but it will work only single-single column. It will automatically decide 
#                                which value pass to the sub-category.
# (2). OrdinalEncoding-------->  Transform categorical data into numerical data but it will work on multiple column. It will automatically decide 
#                                which value pass to the sub-category.
# (3). OneHotEncoding-------->   Transform categorical data into numerical data but it will create new column based on sub-categories which you maintioned
#                                in your column. It will not provide you column name.
#                                Column Survived(yes,no)-------> Survived_Yes , Survived_No
# (4). getdummies-------->       Transform categorical data into numerical data but it will create new column based on sub-categories which you maintioned
#                                in your column.  But it will provide you column name.
#                                Column Survived(yes,no)-------> Survived_Yes , Survived_No

# (1) .LabelEncoding

In [250]:
import numpy as np
import pandas as pd

In [252]:
df=pd.read_csv("covid_toy.csv")

In [254]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [256]:
# df.isnull().sum()

In [258]:
from sklearn.impute import SimpleImputer

In [260]:
si=SimpleImputer()

In [262]:
df['fever']=si.fit_transform(df[['fever']])

In [264]:
# df.isnull().sum()

In [266]:
# df.head(3)

# LabelEncoding

In [269]:
from sklearn.preprocessing import LabelEncoder

In [271]:
lb=LabelEncoder()

In [273]:
df['gender'] = df['gender'].map({"Male":0 , "Female":1})
df['cough'] = df['cough'].map({"Mild":0 , "Strong":1}) 
df['city'] = df['city'].map({"Kolkata":0 , "Bangalore":1 , "Delhi":2 , "Mumbai":3}) 
df['has_covid'] = df['has_covid'].map({'Yes':0 , 'No':1})

In [275]:
df.sample(3)

    age  gender  fever  cough  city  has_covid
59    6       1  104.0      0     0          0
52   47       1  100.0      1     1          0
73   34       0   98.0      1     0          0

In [277]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [280]:
from sklearn.model_selection import train_test_split

In [282]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [284]:
from sklearn.preprocessing import StandardScaler

In [286]:
sc=StandardScaler()

In [288]:
x_train_sc = sc.fit_transform(x_train)

In [292]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [294]:
np.round(x_train_new.describe() , 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00   -0.00  -0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -1.19  -1.56  -0.82  -1.19
25%    -0.94   -1.19  -0.51  -0.82  -1.19
50%    -0.04    0.84   0.01  -0.82  -0.25
75%     0.91    0.84   0.53   1.22   0.70
max     1.69    0.84   1.57   1.22   1.64

In [296]:
df['city'].value_counts()

city
0    32
1    30
2    22
3    16
Name: count, dtype: int64

In [298]:
df = pd.read_csv("tips.csv")

In [300]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [302]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [304]:
from sklearn.preprocessing import LabelEncoder

In [306]:
lb = LabelEncoder()

In [308]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [310]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3

In [314]:
x = df.drop(columns = ['total_bill'])
y=df['total_bill']

In [316]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [318]:
from sklearn.preprocessing import MinMaxScaler

In [320]:
mn = MinMaxScaler()

In [322]:
x_train_mn = mn.fit_transform(x_train)

In [324]:
x_train_mn = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [326]:
np.round(x_train_new.describe() , 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00   -0.00  -0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -1.19  -1.56  -0.82  -1.19
25%    -0.94   -1.19  -0.51  -0.82  -1.19
50%    -0.04    0.84   0.01  -0.82  -0.25
75%     0.91    0.84   0.53   1.22   0.70
max     1.69    0.84   1.57   1.22   1.64

# (2). OrdinalEncoder

In [388]:
df=pd.read_csv("covid_toy.csv")

In [390]:
# df.head(3)

In [392]:
df = df.drop(columns = ['age' , 'fever'])

In [394]:
# df.head(3)

In [396]:
# df['city'].value_counts()

In [398]:
from sklearn.preprocessing import OrdinalEncoder

In [404]:
oe = OrdinalEncoder(categories = [['Male' , 'Female'],
                                 ['Mild' , 'Strong'],
                                 ['Kolkata' , 'Bangalore' , 'Delhi' , 'Mumbai'],
                                 ['Yes' , 'No']])

In [406]:
oe_sc = oe.fit_transform(df)

In [410]:
new_df = pd.DataFrame(oe_sc , columns = df.columns)
new_df.head(3)

   gender  cough  city  has_covid
0     0.0    0.0   0.0        1.0
1     0.0    0.0   2.0        0.0
2     0.0    0.0   2.0        1.0

In [412]:
new_df = new_df.astype(int)
new_df.head(4)

   gender  cough  city  has_covid
0       0      0     0          1
1       0      0     2          0
2       0      0     2          1
3       1      0     0          1

In [414]:
# Tips data----->
# Remove numerical columns
# Apply ordinalencoder

In [495]:
df=pd.read_csv("tips.csv")

In [497]:
# df.head(3)

In [499]:
df = df.drop(columns = ['total_bill' , 'tip' , 'size'])

In [501]:
df.sample(3)

        sex smoker   day    time
191  Female    Yes  Thur   Lunch
99     Male     No   Fri  Dinner
51   Female     No   Sun  Dinner

In [503]:
# df['time'].value_counts()

In [505]:
from sklearn.preprocessing import OrdinalEncoder

In [507]:
# oe = OrdinalEncoder

In [509]:
oe = OrdinalEncoder(categories = [['Male' , 'Female'],
                                 ['Yes' , 'No'],
                                 ['Sat' , 'Sun' , 'Thur' , 'Fri'],
                                 ['Dinner' , 'Lunch']])

In [511]:
oe_sc = oe.fit_transform(df)

In [513]:
new_df = pd.DataFrame(oe_sc , columns = df.columns)
new_df.head(3)

   sex  smoker  day  time
0  1.0     1.0  1.0   0.0
1  0.0     1.0  1.0   0.0
2  0.0     1.0  1.0   0.0

In [515]:
new_df = new_df.astype(int)
new_df.head(4)

   sex  smoker  day  time
0    1       1    1     0
1    0       1    1     0
2    0       1    1     0
3    0       1    1     0