# Tuple in Python

In [7]:
# (1).  Identification=()
# (2).  Immutable data type ----------> We cannot change or update the value at run time.
# (3).  This is a container in which we can store diff-diff type of elements.
# (4).  Indexing sort start from 0 and length start from 1;

In [2]:
a=('sam',45,'raj,78.48')
type(a)

tuple

In [3]:
# indecing and slicing
print(a[0])
print(a[1])
print(a[2])
print("------")
print(a[-1])   ### Backward Indexing
print(a[-2])
print(a[-3])

sam
45
raj,78.48
------
raj,78.48
45
sam

In [4]:
print(a[1:3])

(45, 'raj,78.48')

In [5]:
a=56
print(type(a))
a=56,
print(type(a))

<class 'int'>
<class 'tuple'>

In [6]:
# Immutable datatype
a=('sam',45,'raj',78.48)
print(a)
b=list(a)
print(b)
b[1]=9000
print(b)
c=tuple(b)
print(c)

('sam', 45, 'raj', 78.48)
['sam', 45, 'raj', 78.48]
['sam', 9000, 'raj', 78.48]
('sam', 9000, 'raj', 78.48)

In [7]:
# Properties of tuples

In [8]:
# (1). Concatination
a=(1,2,3)
b=(4,5,6)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6)

In [9]:
# (2). Replication
a=(1,2,3)
a*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

# Function of tuple

In [11]:
# (1).  Len()-------> It will rerturn length of a tuple
a=('sam',45,'raj',78.48)
len(a)

4

In [12]:
# (2).  Index()--------->  It will return indexing of an element.
a=('sam',45,'raj',78.48)
a.index(45)

1

In [13]:
# (3).  Count()----------> It will return frequency of element
a=('sam',45,'raj',78.48)
a.count(45)

1

In [17]:
# (4).  Min()--> It will return minimum value of a table.
a=(1,2,3)
min(a)

1

In [19]:
# (5).  Max()-----> It will return maximum value of a table.
a=(1,2,3)
max(a)

3

# Q.1 How can we create a user define tuple

In [26]:
a=[]
size=int(input("Enter Size:"))
for i in range(size):
  val=input("Enter Value:")
  a.append(val)
# print(a)
b=tuple(a)
print(b)

Enter Size:1
Enter Value:raj
('raj',)

#Q.2.  Create a user define tuple in which user can add and delete an item.

In [33]:
a=[]
size=int(input("Enter Size:"))
for i in range(size):
  val=input("Enter Value:")
  a.append(val)
# print(a)
b=tuple(a)
print(b)
c=input("Which item you want to delete:")
d=list(b)
# print(d)
d.remove(c)
# print(d)
e=tuple(d)
print(e)

Enter Size:3
Enter Value:sam
Enter Value:v
Enter Value:m
('sam', 'v', 'm')
Which item you want to delete:m
('sam', 'v')

In [43]:
a=['sam','manoj','vivek','antima']
print(a)
size=int(input("Enter the elements you want to delete:- "))
for i in range(size):
  val=input("Which item you want to delete:- ")
  a.remove(val)
print(a)

['sam', 'manoj', 'vivek', 'antima']
Enter the elements you want to delete1
Which item you want to deletesam
['manoj', 'vivek', 'antima']

In [42]:
b=('sam','manoj','vivek','antima')
print(b)
a=['sam','manoj','vivek','antima']
# print(a)
size=int(input("Enter the elements you want to delete: "))
for i in range(size):
  val=input("Which item you want to delete:-")
  a.remove(val)
# print(a)
b=tuple(a)
print(b)

('sam', 'manoj', 'vivek', 'antima')
Enter the elements you want to delete: 1
Which item you want to delete:-sam
('manoj', 'vivek', 'antima')

In [47]:
b=('sam','manoj','vivek','antima')
print(b)
a=['sam','manoj','vivek','antima']
size=int(input("Enter the elements you want to add: "))
for i in range(size):
  val=input("Which item you want to add: ")
  a.append(val)
c=tuple(a)
print(c)

('sam', 'manoj', 'vivek', 'antima')
Enter the elements you want to add: 2
Which item you want to add: suresh
Which item you want to add: mahesh
('sam', 'manoj', 'vivek', 'antima', 'suresh', 'mahesh')