In [204]:
import numpy as np
import pandas as pd

In [206]:
df=pd.read_csv("Insurance.csv")

In [208]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [210]:
from sklearn.impute import SimpleImputer

In [212]:
si = SimpleImputer()

In [214]:
df['charges'] = si.fit_transform(df[['charges']])

In [216]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [218]:
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [220]:
df['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [222]:
df['sex'] = df['sex'].map({'female':0 , 'male':1})
df['smoker'] = df['smoker'].map({'yes':0 , 'no':1})
df['region'] = df['region'].map({'southeast':0 , 'southwest':1 , 'northeast':2 , 'northwest':3})

In [224]:
df.head(3)

   age  sex    bmi  children  smoker  region     charges
0   19    0  27.90         0       0       1  16884.9240
1   18    1  33.77         1       1       0   1725.5523
2   28    1  33.00         3       1       0   4449.4620

In [226]:
x=df.drop(columns = ['charges'])
# x

In [228]:
y=df['charges']
# y

In [229]:
from sklearn.model_selection import train_test_split

In [232]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.2 , random_state = 42)

In [234]:
np.round(x_train.describe() , 2)

           age      sex      bmi  children   smoker   region
count  1070.00  1070.00  1070.00   1070.00  1070.00  1070.00
mean     39.36     0.51    30.56      1.11     0.79     1.46
std      14.07     0.50     6.04      1.22     0.40     1.12
min      18.00     0.00    15.96      0.00     0.00     0.00
25%      27.00     0.00    26.20      0.00     1.00     0.00
50%      39.50     1.00    30.21      1.00     1.00     1.00
75%      51.00     1.00    34.50      2.00     1.00     2.00
max      64.00     1.00    53.13      5.00     1.00     3.00

In [236]:
# df.head(3)

In [238]:
from sklearn.preprocessing import StandardScaler

In [240]:
sc = StandardScaler()

In [242]:
df.head(3)

   age  sex    bmi  children  smoker  region     charges
0   19    0  27.90         0       0       1  16884.9240
1   18    1  33.77         1       1       0   1725.5523
2   28    1  33.00         3       1       0   4449.4620

In [244]:
x_train_sc = sc.fit_transform(x_train)

In [246]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)  
type(x_train_new)

pandas.core.frame.DataFrame

In [248]:
np.round(x_train_new.describe() , 2)

           age      sex      bmi  children   smoker   region
count  1070.00  1070.00  1070.00   1070.00  1070.00  1070.00
mean     -0.00    -0.00    -0.00     -0.00    -0.00    -0.00
std       1.00     1.00     1.00      1.00     1.00     1.00
min      -1.52    -1.02    -2.42     -0.91    -1.97    -1.31
25%      -0.88    -1.02    -0.72     -0.91     0.51    -1.31
50%       0.01     0.98    -0.06     -0.09     0.51    -0.41
75%       0.83     0.98     0.65      0.73     0.51     0.48
max       1.75     0.98     3.74      3.20     0.51     1.37