In [1]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("insurance.csv")

In [7]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
from sklearn.preprocessing import LabelEncoder

In [11]:
lb = LabelEncoder()

In [13]:
df['sex']=lb.fit_transform(df['sex'])
df['smoker']=lb.fit_transform(df['smoker'])
df['region']=lb.fit_transform(df['region'])

In [15]:
x=df.drop(columns = ['charges'])
y=df['charges']

In [19]:
from sklearn.model_selection import train_test_split

In [21]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [31]:
print("Total data shape:", df.shape) 
print("----------------------------")
print("Total Input data Shape:", x.shape)
print("Total Input data Shape:", x_train.shape)
print("Total Input data Shape:" ,x_test.shape)
print("--------------------------------------")

print("Total Target data Shape:", y.shape)
print("Total Target data Shape:", y_train.shape)
print("Total Target data Shape:", y_test.shape)

Total data shape: (1338, 7)
----------------------------
Total Input data Shape: (1338, 6)
Total Input data Shape: (1070, 6)
Total Input data Shape: (268, 6)
--------------------------------------
Total Target data Shape: (1338,)
Total Target data Shape: (1070,)
Total Target data Shape: (268,)

In [ ]:
# df(1338, 7) = x(1338,6) + y(1338,1) #
# x(1338,6) = x_train (1070,6) + x_test (268,6) 
#y(1338,1) y_train (1070,1) + y_test(268,1)

In [33]:
np.round(x_train.describe() , 2)

           age      sex      bmi  children   smoker   region
count  1070.00  1070.00  1070.00   1070.00  1070.00  1070.00
mean     39.36     0.51    30.56      1.11     0.21     1.51
std      14.07     0.50     6.04      1.22     0.40     1.12
min      18.00     0.00    15.96      0.00     0.00     0.00
25%      27.00     0.00    26.20      0.00     0.00     1.00
50%      39.50     1.00    30.21      1.00     0.00     2.00
75%      51.00     1.00    34.50      2.00     0.00     2.00
max      64.00     1.00    53.13      5.00     1.00     3.00

# Standardization

In [36]:
from sklearn.preprocessing import StandardScaler

In [38]:
sc = StandardScaler()

In [40]:
x_train_sc = sc.fit_transform(x_train)

In [42]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [46]:
np.round(x_train_new.describe() , 2)

           age      sex      bmi  children   smoker   region
count  1070.00  1070.00  1070.00   1070.00  1070.00  1070.00
mean     -0.00    -0.00    -0.00     -0.00     0.00    -0.00
std       1.00     1.00     1.00      1.00     1.00     1.00
min      -1.52    -1.02    -2.42     -0.91    -0.51    -1.35
25%      -0.88    -1.02    -0.72     -0.91    -0.51    -0.46
50%       0.01     0.98    -0.06     -0.09    -0.51     0.44
75%       0.83     0.98     0.65      0.73    -0.51     0.44
max       1.75     0.98     3.74      3.20     1.97     1.34

# Normalization

In [49]:
df=pd.read_csv("Social_Network_Ads.csv")

In [53]:
df.head(3)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0

In [57]:
from sklearn.preprocessing import LabelEncoder

In [59]:
lb = LabelEncoder()

In [61]:
df['Gender'] = lb.fit_transform(df['Gender'])

In [65]:
# df.head(3)

In [67]:
x = df.drop(columns = ['Purchased'])
y = df['Purchased']

In [69]:
from sklearn.model_selection import train_test_split

In [71]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [75]:
# np.round(x_train.describe() , 2)

In [77]:
from sklearn.preprocessing import MinMaxScaler

In [81]:
mn = MinMaxScaler()

In [83]:
x_train_mn = mn.fit_transform(x_train)

In [85]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [87]:
np.round(x_train_new.describe() ,2)

       User ID  Gender     Age  EstimatedSalary
count   320.00   320.0  320.00           320.00
mean      0.49     0.5    0.47             0.41
std       0.29     0.5    0.24             0.26
min       0.00     0.0    0.00             0.00
25%       0.22     0.0    0.29             0.21
50%       0.49     0.5    0.45             0.41
75%       0.72     1.0    0.64             0.54
max       1.00     1.0    1.00             1.00

# NewDataSet

In [92]:
df=pd.read_csv("titanic.csv")

In [96]:
# df.head(3)

In [98]:
df=df.drop(columns = ['Name', 'Ticket', 'Cabin'])

In [100]:
df.shape

(418, 9)

In [104]:
# df.columns

In [106]:
df.sample(6)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
337,1229,0,3,male,39.0,0,2,7.2292,C
291,1183,1,3,female,30.0,0,0,6.9500,Q
163,1055,0,3,male,NaN,0,0,7.0000,S
225,1117,1,3,female,NaN,0,2,15.2458,C
96,988,1,1,female,76.0,1,0,78.8500,S
414,1306,1,1,female,39.0,0,0,108.9000,C

In [110]:
df.isnull().sum()

PassengerId     0
Survived        0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Fare            1
Embarked        0
dtype: int64

In [132]:
from sklearn.impute import SimpleImputer

In [134]:
si = SimpleImputer()

In [136]:
df['Age'] = si.fit_transform(df[['Age']])
df['Fare'] = si.fit_transform(df[['Fare']])

In [138]:
# df.isnull().sum()

In [140]:
# df.head()

In [142]:
from sklearn.preprocessing import LabelEncoder

In [144]:
lb = LabelEncoder()

In [146]:
df['Sex'] = lb.fit_transform(df['Sex'])
df['Embarked'] = lb.fit_transform(df['Embarked'])

In [150]:
# df.head(3)

In [154]:
x = df.drop(columns = ['Survived'])
y = df['Survived']

In [156]:
from sklearn.model_selection import train_test_split

In [160]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [162]:
from sklearn.preprocessing import MinMaxScaler

In [164]:
mn = MinMaxScaler()

In [166]:
x_train_mn = mn.fit_transform(x_train)

In [168]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [172]:
np.round(x_train_new.describe() , 2)

       PassengerId  Pclass     Sex     Age   SibSp   Parch    Fare  Embarked
count       334.00  334.00  334.00  334.00  334.00  334.00  334.00    334.00
mean          0.50    0.63    0.65    0.39    0.06    0.04    0.07      0.70
std           0.28    0.42    0.48    0.17    0.12    0.10    0.11      0.43
min           0.00    0.00    0.00    0.00    0.00    0.00    0.00      0.00
25%           0.27    0.00    0.00    0.29    0.00    0.00    0.02      0.50
50%           0.50    1.00    1.00    0.40    0.00    0.00    0.03      1.00
75%           0.73    1.00    1.00    0.46    0.12    0.00    0.07      1.00
max           1.00    1.00    1.00    1.00    1.00    1.00    1.00      1.00