# Set

In [1]:

# (1). Introduction = {element1, element2....element n}
# (2). Mutable data type--> We can change or update values at a time
# (3). It will have only unique values which means it cannot contains duplicate values
#(4). Order of values will not arranged.

In [8]:
a= {'sam', 45, 'sam' ,'raj', 'sam', 67, 90,45,45}
print(a)

{67, 'sam', 90, 'raj', 45}

In [6]:
type(a)

set

# Mutability in Sets

In [10]:
a={'sam',45,'sam','raj','sam'}
print(a)
a.add('Rahul')
print(a)
a.remove('sam')
print(a)

{'raj', 'sam', 45}
{'raj', 'sam', 45, 'Rahul'}
{'raj', 45, 'Rahul'}

# Loop in Sets

In [11]:
a={'sam',45,'sam','raj','sam'}
for i in a:
  print(i)

raj
sam
45

In [17]:
a= [1,5,2,4,8,3,9,34,10,2,2,5,7,8,1]
print(a)
a.sort()
print(a)
#### Task-----> Second minimum element
b=set(a)
print(b)
c=list(b)
c.sort()
print(c)
print("Second minimum number: ",c[1])
print("Second maximum number: ",c[-2])

[1, 5, 2, 4, 8, 3, 9, 34, 10, 2, 2, 5, 7, 8, 1]
[1, 1, 2, 2, 2, 3, 4, 5, 5, 7, 8, 8, 9, 10, 34]
{1, 2, 3, 4, 5, 34, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 7, 8, 9, 10, 34]
Second minimum number:  2
Second maximum number:  10

# Set operations

In [20]:
a={1,2,3}
b={4,5,6}
c=a+b
c

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [29]:
a={1,2,3,4}
b={3,4,5,6}
c=a.union(b)
print(c)
d=a.intersection(b)
print(d)
f=a&b   #### Second method of intersection
print(f)

{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}

In [30]:
a-b   #### remaining elements in a container when we remove common elements

{1, 2}

In [32]:
b-a    #### remaining elements in a container when we remove common elements

{5, 6}

In [33]:
a={1,2,3,4}
print(a)
a.clear()
print(a)

{1, 2, 3, 4}
set()