# Column Transformer

In [2]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv('covid_toy.csv')

In [4]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test , = train_test_split(df.drop(columns = ['has_covid']) , df['has_covid'] , test_size = 0.2)

In [7]:
x_train

    age  gender  fever   cough       city
75    5    Male  102.0    Mild    Kolkata
43   22  Female   99.0    Mild  Bangalore
1    27    Male  100.0    Mild      Delhi
70   68  Female  101.0  Strong      Delhi
22   71  Female   98.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
76   80    Male  100.0    Mild  Bangalore
35   82  Female  102.0  Strong  Bangalore
24   13  Female  100.0  Strong    Kolkata
87   47    Male  101.0  Strong  Bangalore
64   42    Male  104.0    Mild     Mumbai

[80 rows x 5 columns]

# Manually type output

In [9]:
# adding simple imputer to fever column
si = SimpleImputer(strategy = 'mean')
x_train_fever = si.fit_transform(x_train[['fever']])

# also the test data
x_test_fever = si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [10]:
# Ordinal Encoding

oe = OrdinalEncoder(categories = [['Mild' , 'Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

# also test the data
x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [11]:
# OneHotEncoding -----> Gender , City

ohe = OneHotEncoder(drop = 'first' , sparse_output = False)
x_train_gender_city = ohe.fit_transform(x_train[['gender' , 'city']])

# also test the data
x_test_gender_city = ohe.fit_transform(x_test[['gender' , 'city']])
x_train_gender_city.shape

(80, 4)

In [12]:
# Extracting Age

x_train_age = x_train.drop(columns = 
                          ['gender' , 'fever' , 'cough' , 'city']).values

# also test the data

x_test_age = x_test.drop(columns = 
                       ['gender' , 'fever' , 'cough' , 'city']).values

x_train_age.shape

(80, 1)

In [13]:
x_train_transformed = np.concatenate((x_train_age , x_train_fever,
                                     x_train_gender_city , 
                                     x_train_cough) , axis = 1)

In [14]:
# x_train_transformed = np.concatenate((x_train_age , x_train_fever , x_train_gender_city , x_train_cough) , axis = 1)

In [15]:
x_train_transformed.shape

(80, 7)

# By the help of Column Transformer

In [17]:
from sklearn.compose import ColumnTransformer        #This is how to import ColumnTransformer

transformer = ColumnTransformer(transformers=[
    ('tnf1' , SimpleImputer() , ['fever']),           # in a fever column by the 
     # Help of SI we
     # Fill missing values by mean , median , mode.
    ('tnf2' , OrdinalEncoder(categories=[['Mild' , 'Strong']]) , ['cough']) ,  #by
# this process
# we encode our data .
    ('tnf3' , OneHotEncoder(sparse_output = False , drop = 'first') , ['gender' , 'city'])
],remainder = 'passthrough')    # remainder = 'passthrough'    => It means rest all the columns remain same

In [18]:
transformer.fit_transform(x_train).shape

(80, 7)

In [19]:
transformer.transform(x_test).shape

(20, 7)

In [20]:
df=pd.read_csv("tips.csv")

In [21]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [22]:
df=df.drop(columns = ['total_bill' , 'tip' , 'size'])

In [23]:
df.head()

      sex smoker  day    time
0  Female     No  Sun  Dinner
1    Male     No  Sun  Dinner
2    Male     No  Sun  Dinner
3    Male     No  Sun  Dinner
4  Female     No  Sun  Dinner

In [24]:
from sklearn.preprocessing import OneHotEncoder

In [25]:
ohe = OneHotEncoder(drop = 'first' , sparse_output = False , dtype = np.int32)

In [26]:
df_new = ohe.fit_transform(df[['sex' , 'smoker']])

In [27]:
df_new

array([[0, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 1],
       [1, 0],
       [1, 1],
       [1, 0],
       [0, 0],
       [0, 1],
       [0, 1],
       [0, 0],
       [1, 0],
       [1, 1],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 1],
       [1, 0],
       [0, 0],
       [1, 1],
       [1, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 0],
       [0, 1],
       [1, 1],
       [0, 1],
       [1, 1],
       [1, 1],
       [0, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 0],
       [1, 1],
       [0, 1],
       [0, 1],
       [1, 1],
       [1, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 1],
       [0, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 1],
       [1, 1],
       [1, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 1],
       [1, 1],
       [0, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [1, 1],
       [1, 1],
       [1, 0],
       [1, 0],
       [1, 1],
       [1, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 0],
       [0, 1],
       [1, 1],
       [1, 0],
       [0, 0]])

In [28]:
df_new = pd.get_dummies(df , drop_first = True , columns = ['sex' , 'smoker'])

In [29]:
df_new.astype(int)

ValueError: invalid literal for int() with base 10: 'Sun'