# 1.Create a list of squares

In [12]:
squares=[x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

# 2.Filter even numbers

In [2]:
evens=[x for x in range(10) if x%2==0]
print(evens)

[0, 2, 4, 6, 8]

# 3. convert strings to uppercase

In [4]:
names=["sam","rohit","ankit"]
upper_names=[name.upper() for name in names]
print(upper_names)

['SAM', 'ROHIT', 'ANKIT']

# 4.Flatten a nested list

In [6]:
matrix=[[1,2],[3,4],[5,6]]
flattened=[num for sublist in matrix for num in sublist]
print(flattened)

[1, 2, 3, 4, 5, 6]

# 5. Generate a list of tuples

In [7]:
pairs=[(x,y) for x in range(3) for y in range(3)]
print(pairs)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

# Traditional way to list comprehension

In [10]:
square=[]                              ## Old Format(1)
for x in range(1,6):
  squares.append(x**2)
print(squares)

[1, 4, 9, 16, 25, 1, 4, 9, 16, 25, 1, 4, 9, 16, 25, 1, 4, 9, 16, 25]

In [11]:
# (2).
evens=[]
for x in range(10):
  if x%2==0:
    evens.append(x)
print(evens)

[0, 2, 4, 6, 8]

# Dictionary Comprehension

In [ ]:
# Dictionary comprehension

# Dictionary comprehension in python offer a concise way to create
# dictionaries from iterables.

# Similar to list compreshions, they allow you to
# construct dictionaries in a single line, with an optinal condition for filtering.

# Syntax:
# {key_expression: value_expression for item in iterable if condition}

# 1. Create a dictionary of squares
  create a dict where the keys are numbers and the values are their squares.

In [19]:
squares={x: x**2 for x in range(1,8)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

# 2. Filter even numbers
create a dictionary with only even numbers and their squares

In [20]:
evens_dict={x: x**2 for x in range(10) if x%2==0}
print(evens_dict)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

# 3.Reverse a dictionary
Create a dictionary comprehension to swap keys and values in an existing dictionary

In [21]:
original={'a':1,'b':2,'c':3}
reversed_dict={v:k for k, v in original.items()}
print(reversed_dict)

{1: 'a', 2: 'b', 3: 'c'}

# 4.Convert list to dictionary with lengths
Convert a list of strings into a dictionary where the keys are the strings and the values are the length of each string

In [22]:
words=["apple","banana","cherry"]
length_dict={word: len(word) for word in words}
print(length_dict)

{'apple': 5, 'banana': 6, 'cherry': 6}