In [5]:
# Lambda function:- A lambda function can take any number of arguments but
# can only have ine expression.
# syntax: lambda arguments : expression
# Ex.1
x= lambda a:a+5
print("Total value=",x(2))

# Ex.2
x=lambda a,b :a*b
print("Total product is=",x(3,4))

# Ex.3
x=lambda a,b,c :a+b-c
print("Total=",x(4,5,6))

Total value= 7
Total product is= 12
Total= 3

In [8]:
# Filter function:- The filter function returns an integer where the items are
# filtered through a function to test, if the item is accepted return true or false.
ages=[5,12,17,18,34,67,50]
def myFunc(x):
  if(x<=18):    ##if(x<=18):
    return True
  else:
    return False
kid=list(filter(myFunc,ages))
print(kid)

[5, 12, 17, 18]

In [10]:
# Map function()=> The map() executes a specified function for each item in a iterable.
# The item is sent to the function as parameter.
a=["3","45","89"]
# method-1
# print(a)
for i in range(len(a)):
  a[i]=int(a[i])
print(a)

# method-2
b=list(map(int ,a))
print(b)
# b[2]=b[2]+1
# print(b[2])

[3, 45, 89]
[3, 45, 89]

In [12]:
# Problem Solving(Lambda)
#(1.) Write a Python program to create a lambda function that adds 15 to a
# given number passed in as an argument, also create a lambda function
# that multiplies argument x with argument y and prints the result.

a=lambda x:x+15
print(a(2))

b=lambda x,y:x*y
print(b(5,7))

17
35

In [15]:
#(2) Write a Python program to create a function that takes one argument,
# and that argument will be multiplied with an unknown number.

def myfunc(number):
    return lambda x: x * number

a=int(input("Enter unknown number:"))
unknown_multiplier = myfunc(a)
result = unknown_multiplier(3)
print("Result:", result)

Enter unknown number:5
Result: 15

In [25]:
#(3) Write a Python program to sort a list of tuples using Lambda.

subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print(subject_marks)

subject_marks.sort(key=lambda x:x[1])
print(subject_marks)

[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [27]:
#(4) Write a Python program to sort a list of dictionaries using Lambda.
models = [
    {'make': 'Nokia', 'model': 216, 'color': 'Black'},
    {'make': 'Mi Max', 'model': '2', 'color': 'Gold'},
    {'make': 'Samsung', 'model': 7, 'color': 'Blue'}
]
print(models)
models.sort(key=lambda x:x['color'])
print(models)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [ ]:
(5)