In [4]:
# loop in python (condition ko multiple time altrate krvana)
# (a) while loop
# (b) for loop

In [5]:
# (a) While loop

In [6]:
# initialization
# condition
# incerment

In [7]:
# Q.1 WAP who print from 1 to 4?

In [9]:
i = 1
n = 4
while(i<=n):
  print(i)
  i=i+1

1
2
3
4

In [10]:
# solution
# step 1 :- while(1<=4)
#           print(1)
#           i=1+1 =2
# step 2 :- while(2<=4)
#           print(2)
#           i = 2+1 = 3
# step 3 :- while(3<=4)
#           print(3)
#           i = 3+1 = 4
# step 4 :- while(4<=4)
#           print(4)
#           i = 4+1 =5
# step 5 :- while(5<=4)
#           break

In [13]:
# user defined program

In [14]:
i = int(input("Enter a number"))
n = int(input("Enter last number"))
p = int(input("Enter step number"))
while(i<=n):
  print(i)
  i=i+p

Enter a number1
Enter last number11
Enter step number2
1
3
5
7
9
11

In [11]:
# Q.2 WAP who print from 4 to 1?

In [15]:
i=4
n=1
while(i>=n):
  print(i)
  i=i-1

4
3
2
1

In [16]:
# solution

# Step 1:-(i=4,n=1)
#         while(4>=1)
#         print(4)
#         i=4-1=3
# Step 2:-(i=3,n=1)
#         while(3>=1)
#         print(3)
#         i=3-1=2
# step 3:-(i=2,n=1)
#         while(2>=1)
#         print(2)
#         i=2-1=1
# step 4:-(i=1,n=1)
#         while(1>=1)
#         print(1)
#         i=1-1=0
# step 5:-(i=0,n=1)
#         while(0>=1)
#         break

In [17]:
# Q.3 WAP who calculate sum of square of a given number

In [18]:
i=123
sum=0
while(i>0):
  sum=sum+(i%10)*(i%10)
  i=i//10
print(sum)

14

In [19]:
# solution
# Step1:- (i=123,sum=0)
#         while(123>0)
#         sum=0+(123%10)*(123%10)=0+3*3=9
#         i=123//10=12
# print(sum)
# Step2:- (i=12,sum=9)
#         while(12>0)
#         sum=9+(12%10)*(12%10)=9+2*2=13
#         i=12//10=1
# print(sum)
# Step3:- (i=1,sum=13)
#         while(1>0)
#         sum=13+(1%10)*(1%10)=13+1*1=14
#         i=1//10=0
# print(sum)
# Step4:- (i=0,sum=0)
#         while(0>0)

In [20]:
# Q.4 WAP who calculate cube of square of a given number

In [21]:
i=123
sum=0
while(i>0):
  sum=sum+(i%10)*(i%10)*(i%10)
  i=i//10
print(sum)

36

In [22]:
# Armstrong number ----------> sum of cube ==user

In [23]:
# 153=1**3+5**3+3**3=153

In [26]:
i=153
orig=i
sum=0
while(i>0):
  sum=sum+(i%10)*(i%10)*(i%10)
  i=i//10

if(orig==sum):
  print("Armstrong number")
else:
  print("No armstrong number")

Armstrong number

In [30]:
# User Input Method

In [29]:
i=int(input("Enter number"))
orig=i
sum=0
while(i>0):
  sum=sum+(i%10)*(i%10)*(i%10)
  i=i//10

if(orig==sum):
  print("Armstrong number")
else:
  print("No armstrong number")

Enter number153
Armstrong number