In [1]:
# Nested loop

In [2]:
for i in range(3):
  for j in range(3):
    print(f"i={i} ,j={j}")

i=0 ,j=0
i=0 ,j=1
i=0 ,j=2
i=1 ,j=0
i=1 ,j=1
i=1 ,j=2
i=2 ,j=0
i=2 ,j=1
i=2 ,j=2

In [3]:
# i=(0,1,2)
# j=(0,1,2)
# i=0----->j=(0,1,2)
# i=1----->j=(0,1,2)
# i=2----->j=(0,1,2)

In [4]:
# star pattern

In [6]:
for i in range(1,6):
  print(i*"*")

*
**
***
****
*****

In [9]:
for i in range(5,0,-1):
  print(i*"*")

*****
****
***
**
*

In [10]:
for i in range(1,6):
  for j in range(4,0,-1):
    print(i*"*")

*
*
*
*
**
**
**
**
***
***
***
***
****
****
****
****
*****
*****
*****
*****

In [12]:
for i in range(1,6):
  print(i*"*")
for i in range(4,0,-1):
  print(i*"*")

*
**
***
****
*****
****
***
**
*

In [16]:
n=5
for i in range(1,n+1):
  if i==1 or i==n:
    print('*'*i)     #first or last row
  else:
    print('*'+' '*(i-2)+'*')

*
**
* *
*  *
*****

In [20]:
n=int(input("Enter the number:-"))
for i in range(1,n+1):
  if i==1 or i==n:
    print('*'*i)     #first or last row
  else:
    print('*'+' '*(i-2)+'*')

Enter the number:-5
*
**
* *
*  *
*****

In [21]:
# step1 (i=1)------->
# i=2 -----> *+(2-2)*' '+*
# i=3 -----> *+(3-2)*' '+*
# i=4 -----> *+(4-2)*' '+*

In [22]:
# pyramid pattern

In [24]:
n=5
for i in range(1,n+1):
  print(' '*(n-i)+'*' *(2*i-1))

    *
   ***
  *****
 *******
*********

In [25]:
# step1:- (i=1,n=5)
# ' '*(5-1)+'*'*(2*1-1)=2-1=1

# step2:- (i=2,n=5)
# ' '*(5-2)+'*'*(2*2-1)=4-1=3

# step3:- (i=3,n=5)
# ' '*(5-3)+'*'*(2*3-1)=6-1=5

# step4:- (i=4,n=5)
# ' '*(5-4)+'*'*(2*4-1)=8-1=7

# step5:- (i=5,n=5)
# ' '*(5-5)+'*'*(2*5-1)=10-1=9

In [26]:
n=5
for i in range(n,0,-1):
  print(' '*(n-i)+'*'*(2*i-1))

*********
 *******
  *****
   ***
    *