In [1]:
# Loop in python

In [2]:
# WAP to print number from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
# WAP to print even numbers form 1 to 20 using for loop
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [7]:
# WAP to print odd numbers form 1 to 20 using for loop
for i in range(1,21,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [10]:
# user input method
a=int(input("Enter the first number"))
b=int(input("Enter the last number"))
c=int(input("Enter step number"))
for i in range(a,b,c):
  print(i)

Enter the first number1
Enter the last number3
Enter step number1
1
2

In [14]:
# Q3. WAP to print the sum of the first 10 natural Numbers
# using a for loop

total=0
for i in range(1,11):
  total=total+i;
print("sum:",total)

# pending solution by me

sum: 55

In [18]:
# user define
total=0
i=int(input("Enter first number"))
n=int(input("Enter last number"))
for i in range(i,n):
  total=total+i
print(total)

Enter first number1
Enter last number4
6

In [21]:
# Q4:- WAP to print the mulriplication table of a given number
# using a for loop
num=5
for i in range(1,11):
  print(f"{num} X {i}={num*i}")

5 X 1=5
5 X 2=10
5 X 3=15
5 X 4=20
5 X 5=25
5 X 6=30
5 X 7=35
5 X 8=40
5 X 9=45
5 X 10=50

In [23]:
# WAP to print the mulriplication table of a given number by user input
# using a for loop
num=int(input("Enter the number"))
for i in range(1,11):
  print(f"{num} X {i}={num*i}")

Enter the number1
1 X 1=1
1 X 2=2
1 X 3=3
1 X 4=4
1 X 5=5
1 X 6=6
1 X 7=7
1 X 8=8
1 X 9=9
1 X 10=10

In [24]:
# Q.5:-WAP to find the factorial of given number using for loop

In [25]:
# Q.6:-WAP to count the program of vowels in a given string using a for loop
text="Hello World"
vowels="aeiouAEIOU"
count=0
cons=0
for char in text:
  if char in vowels:
    count +=1
  else:
    cons=cons+1
print("Number of vowels:",count)
print("Number of cons:",cons)

Number of vowels: 3
Number of cons: 8